* {
  

  box-sizing: border-box;
}

body{
 background-image: url('../assets/playa.jpg');
 background-repeat: no-repeat;
 background-attachment: fixed;
  //object-fit: fill;
  //font-family: 'Courier New', Courier, monospace;

  
}

// .results{
  
//  // object-fit: cover;

// }

