main{
  //margin-left:30rem;
  margin-bottom: 20rem;
  margin-top:2rem;
  background-image: url('../assets/playa.jpg');

    text-align: center;
    align-items: center;
  }

.container{
  
align-items: center;
align-items: center;
}